body {
  background-color: #f5f7f7;
}
a {
  color: #08b0ff;
}
a.link-effect:before {
  background-color: #007fba;
}
a:hover,
a:focus {
  color: #007fba;
}
a:active {
  color: #08b0ff;
}
.text-primary {
  color: #08b0ff;
}
a.text-primary:hover,
a.text-primary:active,
a.text-primary:focus,
button.text-primary:hover,
button.text-primary:active,
button.text-primary:focus {
  color: #08b0ff;
  opacity: .75;
}
.text-primary-dark {
  color: #0e70dd;
}
a.text-primary-dark:hover,
a.text-primary-dark:active,
a.text-primary-dark:focus,
button.text-primary-dark:hover,
button.text-primary-dark:active,
button.text-primary-dark:focus {
  color: #0e70dd;
  opacity: .75;
}
.text-primary-darker {
  color: #2630ea;
}
a.text-primary-darker:hover,
a.text-primary-darker:active,
a.text-primary-darker:focus,
button.text-primary-darker:hover,
button.text-primary-darker:active,
button.text-primary-darker:focus {
  color: #2630ea;
  opacity: .75;
}
.text-primary-light {
  color: #64cdff;
}
a.text-primary-light:hover,
a.text-primary-light:active,
a.text-primary-light:focus,
button.text-primary-light:hover,
button.text-primary-light:active,
button.text-primary-light:focus {
  color: #64cdff;
  opacity: .75;
}
.text-primary-lighter {
  color: #97deff;
}
a.text-primary-lighter:hover,
a.text-primary-lighter:active,
a.text-primary-lighter:focus,
button.text-primary-lighter:hover,
button.text-primary-lighter:active,
button.text-primary-lighter:focus {
  color: #97deff;
  opacity: .75;
}
.bg-primary {
  background-color: #08b0ff;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #0090d4;
}
.bg-primary-op {
  background-color: rgba(8, 176, 255, 0.75);
}
a.bg-primary-op:hover,
a.bg-primary-op:focus {
  background-color: rgba(0, 144, 212, 0.75);
}
.bg-primary-dark {
  background-color: #0e70dd;
}
a.bg-primary-dark:hover,
a.bg-primary-dark:focus {
  background-color: #0b58ad;
}
.bg-primary-dark-op {
  background-color: rgba(14, 112, 221, 0.83);
}
a.bg-primary-dark-op:hover,
a.bg-primary-dark-op:focus {
  background-color: rgba(11, 88, 173, 0.83);
}
.bg-primary-darker {
  background-color: #2630ea;
}
a.bg-primary-darker:hover,
a.bg-primary-darker:focus {
  background-color: #141dca;
}
.bg-primary-light {
  background-color: #64cdff;
}
a.bg-primary-light:hover,
a.bg-primary-light:focus {
  background-color: #31bdff;
}
.bg-primary-lighter {
  background-color: #97deff;
}
a.bg-primary-lighter:hover,
a.bg-primary-lighter:focus {
  background-color: #64cdff;
}
.bg-body {
  background-color: #f5f7f7;
}
.btn-primary {
  color: #fff;
  background-color: #08b0ff;
  border-color: #0090d4;
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  color: #fff;
  background-color: #0097de;
  border-color: #006797;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0074ab;
  border-color: #004464;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #0074ab;
  border-color: #004464;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #08b0ff;
  border-color: #0090d4;
}
.btn-primary .badge {
  color: #08b0ff;
  background-color: #fff;
}
.label-primary {
  background-color: #08b0ff;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #0090d4;
}
.badge-primary {
  background-color: #08b0ff;
}
.progress-bar-primary {
  background-color: #08b0ff;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #08b0ff;
}
.nav-pills > li.active > a > .badge {
  color: #08b0ff;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #08b0ff;
  -webkit-box-shadow: 0 2px #08b0ff;
  box-shadow: 0 2px #08b0ff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #08b0ff;
  -webkit-box-shadow: 0 2px #08b0ff;
  box-shadow: 0 2px #08b0ff;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #08b0ff;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #08b0ff;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #08b0ff;
  border-color: #08b0ff;
}
.list-group-item.active > .badge {
  color: #08b0ff;
}
.tooltip-inner {
  background-color: #2630ea;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #2630ea;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #2630ea;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #2630ea;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #2630ea;
}
.table-header-bg > thead > tr > th,
.table-header-bg > thead > tr > td {
  background-color: #08b0ff;
  border-bottom-color: #08b0ff;
}
.panel-primary {
  border-color: #97deff;
}
.panel-primary > .panel-heading {
  color: #08b0ff;
  background-color: #bbe9ff;
  border-color: #97deff;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #97deff;
}
.panel-primary > .panel-heading .badge {
  color: #bbe9ff;
  background-color: #08b0ff;
}
.panel-primary > .panel-heading a {
  font-weight: 400;
}
.panel-primary > .panel-heading a:hover,
.panel-primary > .panel-heading a:focus {
  color: #0090d4;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #97deff;
}
#page-loader:after {
  background-color: #08b0ff;
}
.header-navbar-transparent.header-navbar-fixed.header-navbar-scroll #header-navbar {
  background-color: #0e70dd;
}
#page-container,
#sidebar {
  background-color: #2630ea;
}
#main-container {
  background-color: #f5f7f7;
}
.nav-main-header {
  background-color: #2630ea;
}
@media screen and (min-width: 992px) {
  .nav-main-header {
    background-color: transparent;
  }
  .nav-main-header ul {
    background-color: #0e70dd;
  }
}
.nav-sub-header > li > a {
  color: #0e70dd;
}
.form-material.form-material-primary > .form-control:focus {
  -webkit-box-shadow: 0 2px 0 #08b0ff;
  box-shadow: 0 2px 0 #08b0ff;
}
.form-material.form-material-primary > .form-control:focus + label {
  color: #08b0ff;
}
.form-material.form-material-primary > .form-control:focus ~ .input-group-addon {
  color: #08b0ff;
  -webkit-box-shadow: 0 2px 0 #08b0ff;
  box-shadow: 0 2px 0 #08b0ff;
}
.css-checkbox-primary input:checked + span {
  background-color: #08b0ff;
  border-color: #08b0ff;
}
.css-radio-primary input:checked + span:after,
.switch-primary input:checked + span {
  background-color: #08b0ff;
}
.block > .nav-tabs > li > a:hover {
  color: #08b0ff;
}
.block > .nav-tabs.nav-tabs-alt > li > a:hover {
  -webkit-box-shadow: 0 2px #08b0ff;
  box-shadow: 0 2px #08b0ff;
}
.block > .nav-tabs.nav-tabs-alt > li.active > a,
.block > .nav-tabs.nav-tabs-alt > li.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.active > a:focus {
  -webkit-box-shadow: 0 2px #08b0ff;
  box-shadow: 0 2px #08b0ff;
}
.ribbon-primary .ribbon-box {
  background-color: #08b0ff;
}
.ribbon-primary.ribbon-bookmark .ribbon-box:before {
  border-color: #08b0ff;
  border-left-color: transparent;
}
.ribbon-primary.ribbon-bookmark.ribbon-left .ribbon-box:before {
  border-color: #08b0ff;
  border-right-color: transparent;
}
.ribbon-primary.ribbon-modern .ribbon-box:before {
  border-color: #08b0ff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.ribbon-primary.ribbon-modern.ribbon-bottom .ribbon-box:before {
  border-color: #08b0ff;
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-primary.ribbon-modern.ribbon-left .ribbon-box:before {
  border-color: #08b0ff;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.ribbon-primary.ribbon-modern.ribbon-left.ribbon-bottom .ribbon-box:before {
  border-color: #08b0ff;
  border-top-color: transparent;
  border-right-color: transparent;
}
.irs-bar,
.irs-bar-edge,
.irs-from,
.irs-to,
.irs-single,
.irs-grid-pol {
  background: #08b0ff;
}
.dropzone:hover {
  border-color: #08b0ff;
}
.dropzone:hover .dz-message {
  color: #08b0ff;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #08b0ff;
  border-color: #08b0ff;
}
div.tagsinput span.tag {
  background-color: #08b0ff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #08b0ff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #08b0ff;
}
.autocomplete-suggestion b {
  color: #08b0ff;
}
